{% extends "base.html" %}

{% block body %}
<header id="home">
  <div class="bg-img" style="background-image: url('{{ STATIC_URL }}img/otter.jpg')">
    <div class="overlay"></div>
  </div>

  <div class="home-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-md-10 col-md-offset-1">
          <div class="home-content">
            <h1 class="white-text">What's This?</h1>
            <ul class="white-text">
                <li><h3>A repository for all your OLTP experiment results.</h3></li>
                <li><h3>A tool eliminates the tedious burden of visualizing your experiments.</h3></li>
                <li><h3>A smart adviser unveils potential improvements for your database.</h3></li>
            </ul>
            <!--<p><a class="btn btn-primary btn-lg" role="button" href="{% url 'signup' %}">Sign up now!</a>-->
            <p><a class="btn btn-primary btn-lg" role="button" href="https://goo.gl/forms/dXivgwdw2HBmK24H3">Sign up now!</a>
            <a class="btn btn-primary btn-lg" role="button" href = "https://aws.amazon.com/blogs/machine-learning/tuning-your-dbms-automatically-with-machine-learning/">Learn more &raquo;</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div class="footer-copyright">
  <p>Copyright © 2017. All Rights Reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
</div>
{% endblock body %}


<!DOCTYPE html>
<html>
<head></head>
<body>


</body>
</html>
